[run]
plugins = Cython.Coverage
omit = 
    */_vendor/*
    */feature_map/*
    */interval_viz.py
    */output/db.py
    */tools/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    if __name__ == '__main__'
