*.c
*.cpp
*.pyc
*.pyd
*.so
src/ms_deisotope/_c/**/*.html
.coverage
.noseids
/*sublime-*
.ipynb_checkpoints*
.vscode*
Untitled*
/test_reports
*egg-info
.cache
.pytest_cache
/build/
/dist/
/htmlcov/
cythonize.py
test.py
experiment/
.coverage.*
__pycache__
*.pdb