recursive-include ms_deisotope *.pyx
recursive-include ms_deisotope *.pxd
recursive-include ms_deisotope *.c
recursive-include ms_deisotope *.h

recursive-exclude ms_deisotope *.pyd

include README.rst
