recursive-include ms_peak_picker *.pyx
recursive-include ms_peak_picker *.pxd
recursive-include ms_peak_picker *.c
recursive-include ms_peak_picker *.h

recursive-exclude ms_peak_picker *.pyd

include README.rst
