# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and Publish Package

on:
  push:
    tags:
      - "v*"

jobs:
  build-wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.11']
        os: [ubuntu-20.04, windows-2019, macos-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel twine
        pip install coverage pytest pytest-cov -U
        pip install Cython
        pip install --only-binary=numpy,scipy,matplotlib numpy scipy matplotlib -U
        pip install -r test-requirements.txt
        pip install .
        python setup.py build sdist
    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel
    - name: Build wheels
      run: python -m cibuildwheel --output-dir dist/
      env:
        CIBW_BUILD: "cp38* cp39* cp310* cp311*"
        CIBW_SKIP: "*_i686 *win32 *musllinux* pp*"
        CIBW_MANYLINUX_X86_64_IMAGE: "manylinux2014"
        CIBW_TEST_REQUIRES: "pytest"
        CIBW_BUILD_VERBOSITY: 5
        CIBW_ARCHS: "auto"
    - name: Upload Distributions
      if: matrix.os == 'ubuntu-20.04'
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: |
          dist/*.whl
          dist/*.tar.gz
          dist/*.zip
        retention-days: 7
    - name: Upload Distributions
      uses: actions/upload-artifact@v4
      if: matrix.os != 'ubuntu-20.04'
      with:
        name: dist
        path: |
          dist/*.whl
        retention-days: 7

  publish-wheels:
    needs: [build-wheels]
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.11']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/download-artifact@v4.1.7
        with:
          name: dist
          path: dist/
      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel twine
      - name: "Publish"
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
          TWINE_USERNAME: __token__
        run: |
          ls -l dist/*
          twine upload dist/*.whl dist/*.tar.gz